<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="{{context}}/common/vendor.min.js" as="script" rel="preload">
  <link href="{{context}}/common/element/element-ui.min.js" as="script" rel="preload">
  {{{ renderResourceHints() }}}
  <link href="{{context}}/common/element/element-blue.css" rel="stylesheet" type="text/css">
  {{{ renderStyles() }}}
</head>
<body>
  <!--vue-ssr-outlet-->
  {{{ renderState() }}}
  <script src="{{context}}/common/vendor.min.js"></script>
  <script src="{{context}}/common/element/element-ui.min.js"></script>
  {{{ renderScripts() }}}
</body>
</html>
